For Lod's Gove/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.log
For Lod's Gove/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
*.dll
For Lod's Gove/Library/InspectorExpandedItems.asset
*.asset
For Lod's Gove/For Lod's Gove.csproj
*.csproj
For Lod's Gove/Assets/Sprites/Triangle.png.meta
*.meta